gwas2.example.txt filter=lfs diff=lfs merge=lfs -text
gwas2.imputed.example.rds filter=lfs diff=lfs merge=lfs -text
gwas2.imputed.example.txt filter=lfs diff=lfs merge=lfs -text
gwas1.array.example.rds filter=lfs diff=lfs merge=lfs -text
gwas1.example.txt filter=lfs diff=lfs merge=lfs -text
gwas1.imputed.example.rds filter=lfs diff=lfs merge=lfs -text
gwas1.imputed.example.txt filter=lfs diff=lfs merge=lfs -text
gwas2.array.example.rds filter=lfs diff=lfs merge=lfs -text
gwas1.example.rda filter=lfs diff=lfs merge=lfs -text
gwas2.example.rda filter=lfs diff=lfs merge=lfs -text
